{% extends 'base.html' %}

{% block content %}
<h1><strong>Code History</strong></h1><br>
{% if code %}

{% for code_entry in code %}
<hr>
<strong>Prompt:</strong> {{ code_entry.question }}<br>
<strong>Language:</strong> {{ code_entry.language }}<br>
<strong>Answer:</strong> <br>
<pre>
<code class="line-numbers language-{{ code_entry.language }}">
{{ code_entry.code_answer }}
</code>
</pre>
<a href="{% url 'delete_history' code_entry.id %}" class="btn btn-outline-secondary btn-sm">Delete</a><br><br><br>

{% endfor %}

{% endif %}

{% endblock %}
