{% extends 'base.html' %}

{% block content %}

<pre>
    <code class="line-numbers language-python">
    import random

    def random_action():
        actions = ['jump', 'run', 'swim', 'fly', 'dance']
        return random.choice(actions)

    print(random_action())
    </code>
</pre>
<br /><br />

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <textarea class="form-control" name="code" rows="3" placeholder="Have A.I. Fix Your Code!"></textarea>
    </div>

    <select class="form-select" aria-label="Default select example">
        <option selected>Select Programming Language</option>
        {% for lang in lang_list %}
            <option value="{{lang}}">{{lang}}</option>
        {% endfor %}
      </select>

    <br />

    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}